In [1]:
import  numpy as np
import pandas as pd
import matplotlib.pyplot as plt
file = pd.read_csv("housing2.csv")

In [2]:
file.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
file = file[['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']]

In [4]:
file.fillna(0, inplace = True)

In [5]:
file["bedrooms_per_room"] = file.total_bedrooms / file.total_rooms

In [6]:
file["population_per_household"] = file.population / file.households

In [7]:
mean = file["median_house_value"].mean()
file["above_average"] = (file["median_house_value"] > mean).astype(int)

In [8]:
#Q1
file.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x = file.drop("median_house_value", axis = 1)
y = file["median_house_value"]

In [10]:
x_train,x_t,y_train,y_t = train_test_split(x, y, test_size = 0.4, random_state = 42)
x_test,x_val,y_test,y_val = train_test_split(x_t,y_t, test_size = 0.5, random_state = 42)

In [11]:
#Q2
corr_x = x_train.corr()
corr_x

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedrooms_per_room,population_per_household,above_average
latitude,1.000000,-0.923981,0.008003,-0.032579,-0.065859,-0.108276,-0.069372,-0.077705,-0.123190,0.007836,-0.100524
longitude,-0.923981,1.000000,-0.105167,0.040254,0.067978,0.099033,0.054140,-0.018263,0.102873,-0.002868,-0.071535
housing_median_age,0.008003,-0.105167,1.000000,-0.360765,-0.318483,-0.293700,-0.300811,-0.117351,0.133170,0.016511,0.083542
total_rooms,-0.032579,0.040254,-0.360765,1.000000,0.928249,0.856030,0.920379,0.198950,-0.187250,-0.025631,0.125632
total_bedrooms,-0.065859,0.067978,-0.318483,0.928249,1.000000,0.878468,0.982014,-0.011577,0.088870,-0.028789,0.052670
population,-0.108276,0.099033,-0.293700,0.856030,0.878468,1.000000,0.905168,0.002187,0.040768,0.075029,-0.019424
households,-0.069372,0.054140,-0.300811,0.920379,0.982014,0.905168,1.000000,0.010285,0.069165,-0.028089,0.069874
median_income,-0.077705,-0.018263,-0.117351,0.198950,-0.011577,0.002187,0.010285,1.000000,-0.609009,0.026145,0.543810
bedrooms_per_room,-0.123190,0.102873,0.133170,-0.187250,0.088870,0.040768,0.069165,-0.609009,1.000000,0.005026,-0.221912
population_per_household,0.007836,-0.002868,0.016511,-0.025631,-0.028789,0.075029,-0.028089,0.026145,0.005026,1.000000,-0.020901
above_average,-0.100524,-0.071535,0.083542,0.125632,0.052670,-0.019424,0.069874,0.543810,-0.221912,-0.020901,1.000000

In [12]:
#Q3
from sklearn.metrics import mutual_info_score
score = mutual_info_score(x_train.ocean_proximity, x_train.above_average)
round(score, 2)

0.1

In [13]:
x = file.drop("above_average", axis = 1)
y = file["above_average"]

In [14]:
#Q4
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [15]:
xnew = pd.get_dummies(x, columns = ["ocean_proximity"])

In [16]:
xn_train,xn_t,yn_train,yn_t = train_test_split(xnew, y, test_size = 0.4, random_state = 42)
xn_test,xn_val,yn_test,yn_val = train_test_split(xn_t,yn_t, test_size = 0.5, random_state = 42)

In [17]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(xn_train,yn_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [18]:
y_pred = model.predict(xn_val)
score = accuracy_score(y_pred,yn_val)

In [19]:
round(score, 2)

0.99

In [23]:
#Q5
feat = ["total_rooms","total_bedrooms","population","households"]
scores = []
for i in feat:
    xnewi = xnew.drop(i, axis = 1)
    xn_traini,xn_ti,yn_traini,yn_ti = train_test_split(xnewi, y, test_size = 0.4, random_state = 42)
    xn_testi,xn_vali,yn_testi,yn_vali = train_test_split(xn_ti,yn_ti, test_size = 0.5, random_state = 42)
    new_model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    new_model.fit(xn_traini,yn_traini)
    y_predi = new_model.predict(xn_vali)
    score = accuracy_score(y_predi,yn_vali)
    scores.append(score)
min_feat = feat[scores.index(min(scores))]

In [24]:
print(min_feat)

population

In [27]:
#Q6
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
import math
alphas = [0, 0.01, 0.1, 1, 10]
xn = file.drop("median_house_value", axis = 1)
yn = np.log1p(file["median_house_value"])
xn = pd.get_dummies(xn, columns = ["ocean_proximity"])
x_trainp,x_tp,y_trainp,y_tp = train_test_split(xn, yn, test_size = 0.4, random_state = 42)
x_testp,x_valp,y_testp,y_valp = train_test_split(x_tp,y_tp, test_size = 0.5, random_state = 42)
errors = []
for a in alphas:
    rd = Ridge(alpha = a, solver="sag", random_state=42)
    model2 = rd.fit(x_trainp, y_trainp)
    y_new = model2.predict(x_valp)
    error = round(math.sqrt(mean_squared_error(y_new, y_valp)),3)
    errors.append(error)
min_alpha = alphas[errors.index(min(errors))]
min_alpha

0